<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1200</string>
		<key>title</key>
		<string>Maskette</string>
		<key>imageFileNameBase</key>
		<string>A1</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 200</string>
		<key>title</key>
		<string>Maskette</string>
		<key>imageFileNameBase</key>
		<string>A2</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 300</string>
		<key>title</key>
		<string>Pendant representing the Maize God</string>
		<key>imageFileNameBase</key>
		<string>A4</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 300</string>
		<key>title</key>
		<string>Sculpture in the form of a human head</string>
		<key>imageFileNameBase</key>
		<string>A5</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1400</string>
		<key>title</key>
		<string>Mask part</string>
		<key>imageFileNameBase</key>
		<string>A6</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1325</string>
		<key>title</key>
		<string>Sculpture representing Tlalchitonatiuh</string>
		<key>imageFileNameBase</key>
		<string>A7</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1325</string>
		<key>title</key>
		<string>Maskette representing the rain god Tláloc</string>
		<key>imageFileNameBase</key>
		<string>A8</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>600 BC</string>
		<key>title</key>
		<string>Axe head</string>
		<key>imageFileNameBase</key>
		<string>A9</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1325</string>
		<key>title</key>
		<string>Bowl used to hold hearts of sacrificial victims</string>
		<key>imageFileNameBase</key>
		<string>A10</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 500</string>
		<key>title</key>
		<string>Funerary urn</string>
		<key>imageFileNameBase</key>
		<string>A11</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1000</string>
		<key>title</key>
		<string>Puebla-style ring depicting Xipe Totec</string>
		<key>imageFileNameBase</key>
		<string>A12</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>300 BC</string>
		<key>title</key>
		<string>House model</string>
		<key>imageFileNameBase</key>
		<string>A13</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Whistle figure of a woman</string>
		<key>imageFileNameBase</key>
		<string>A14</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 600</string>
		<key>title</key>
		<string>Figure of a priest</string>
		<key>imageFileNameBase</key>
		<string>A15</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 500</string>
		<key>title</key>
		<string>Trumpet</string>
		<key>imageFileNameBase</key>
		<string>A16</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 900</string>
		<key>title</key>
		<string>Human figure</string>
		<key>imageFileNameBase</key>
		<string>A17</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Figure of a woman</string>
		<key>imageFileNameBase</key>
		<string>A18</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1200</string>
		<key>title</key>
		<string>Whistling vessel representing Xiuhtecuhtli</string>
		<key>imageFileNameBase</key>
		<string>A19</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Figure of the ruler Halach Huinik</string>
		<key>imageFileNameBase</key>
		<string>A20</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Guatemala</string>
		<key>date</key>
		<string>AD 350</string>
		<key>title</key>
		<string>Tripod vessel and cover</string>
		<key>imageFileNameBase</key>
		<string>A21</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>400 BC</string>
		<key>title</key>
		<string>Female figure</string>
		<key>imageFileNameBase</key>
		<string>A22</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Figure</string>
		<key>imageFileNameBase</key>
		<string>A23</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>800 BC</string>
		<key>title</key>
		<string>Bowl</string>
		<key>imageFileNameBase</key>
		<string>A24</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1350</string>
		<key>title</key>
		<string>Cholula-style female figure representing the corn goddess</string>
		<key>imageFileNameBase</key>
		<string>A25</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Figure of a priest</string>
		<key>imageFileNameBase</key>
		<string>A26</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 200</string>
		<key>title</key>
		<string>Female-figure rattle</string>
		<key>imageFileNameBase</key>
		<string>A27</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>300 BC</string>
		<key>title</key>
		<string>Figure of an emaciated dog</string>
		<key>imageFileNameBase</key>
		<string>A28</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Flute</string>
		<key>imageFileNameBase</key>
		<string>A29</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>400 BC</string>
		<key>title</key>
		<string>Female figure</string>
		<key>imageFileNameBase</key>
		<string>A30</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 300</string>
		<key>title</key>
		<string>Trumpet</string>
		<key>imageFileNameBase</key>
		<string>A31</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 900</string>
		<key>title</key>
		<string>Cempoala-style trumpet</string>
		<key>imageFileNameBase</key>
		<string>A32</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>300 BC</string>
		<key>title</key>
		<string>Vessel in the form of a scorpion</string>
		<key>imageFileNameBase</key>
		<string>A33</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 250</string>
		<key>title</key>
		<string>Figure of a priest wearing a Tláloc mask</string>
		<key>imageFileNameBase</key>
		<string>A34</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>150 BC</string>
		<key>title</key>
		<string>Female figure</string>
		<key>imageFileNameBase</key>
		<string>A35</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1300</string>
		<key>title</key>
		<string>Pipe with jaguar-head rattle</string>
		<key>imageFileNameBase</key>
		<string>A36</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>150 BC</string>
		<key>title</key>
		<string>Figure of a mother and child</string>
		<key>imageFileNameBase</key>
		<string>A37</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Mexico</string>
		<key>date</key>
		<string>AD 1300</string>
		<key>title</key>
		<string>Ritual vessel with spout</string>
		<key>imageFileNameBase</key>
		<string>A38</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Guatemala</string>
		<key>date</key>
		<string>AD 500</string>
		<key>title</key>
		<string>Hacha</string>
		<key>imageFileNameBase</key>
		<string>A39</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Ecuador</string>
		<key>date</key>
		<string>AD 1425</string>
		<key>title</key>
		<string>Vessel</string>
		<key>imageFileNameBase</key>
		<string>B40</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Ecuador</string>
		<key>date</key>
		<string>AD 500</string>
		<key>title</key>
		<string>Seat</string>
		<key>imageFileNameBase</key>
		<string>B41</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1550</string>
		<key>title</key>
		<string>Qero</string>
		<key>imageFileNameBase</key>
		<string>B42</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1475</string>
		<key>title</key>
		<string>Qero with animal figurehead</string>
		<key>imageFileNameBase</key>
		<string>B43</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1700</string>
		<key>title</key>
		<string>Qero in the form of a jaguar’s head</string>
		<key>imageFileNameBase</key>
		<string>B44</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 200</string>
		<key>title</key>
		<string>Panpipes</string>
		<key>imageFileNameBase</key>
		<string>B45</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1475</string>
		<key>title</key>
		<string>Qero</string>
		<key>imageFileNameBase</key>
		<string>B46</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1300</string>
		<key>title</key>
		<string>Qero with bird figurehead</string>
		<key>imageFileNameBase</key>
		<string>B47</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1500</string>
		<key>title</key>
		<string>Ceremonial vessel</string>
		<key>imageFileNameBase</key>
		<string>B48</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1700</string>
		<key>title</key>
		<string>Ceremonial vessel</string>
		<key>imageFileNameBase</key>
		<string>B49</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1550</string>
		<key>title</key>
		<string>Qero</string>
		<key>imageFileNameBase</key>
		<string>B50</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 750</string>
		<key>title</key>
		<string>Ear ornament</string>
		<key>imageFileNameBase</key>
		<string>B51</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1200</string>
		<key>title</key>
		<string>Human figure</string>
		<key>imageFileNameBase</key>
		<string>B52</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 200</string>
		<key>title</key>
		<string>Trumpet</string>
		<key>imageFileNameBase</key>
		<string>B53</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1550</string>
		<key>title</key>
		<string>Qero with design of nobles under a rainbow</string>
		<key>imageFileNameBase</key>
		<string>B54</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Stirrup-spout bottle</string>
		<key>imageFileNameBase</key>
		<string>B55</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1550</string>
		<key>title</key>
		<string>Qero</string>
		<key>imageFileNameBase</key>
		<string>B56</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 100</string>
		<key>title</key>
		<string>Ear ornament with sun image</string>
		<key>imageFileNameBase</key>
		<string>B57</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1200</string>
		<key>title</key>
		<string>Funerary mask</string>
		<key>imageFileNameBase</key>
		<string>B58</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1200</string>
		<key>title</key>
		<string>Vessel in human form</string>
		<key>imageFileNameBase</key>
		<string>B59</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Whistle in the form of a tillandsia plant</string>
		<key>imageFileNameBase</key>
		<string>B60</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Bolivia</string>
		<key>date</key>
		<string>AD 600</string>
		<key>title</key>
		<string>Pedestal-based incense burner depicting a jaguar</string>
		<key>imageFileNameBase</key>
		<string>B61</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Bolivia</string>
		<key>date</key>
		<string>AD 1000</string>
		<key>title</key>
		<string>Jar depicting a llama or an alpaca</string>
		<key>imageFileNameBase</key>
		<string>B62</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 200</string>
		<key>title</key>
		<string>Stirrup-spout vessel with male figure</string>
		<key>imageFileNameBase</key>
		<string>B63</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1400</string>
		<key>title</key>
		<string>Vessel in the form of a tattooed man</string>
		<key>imageFileNameBase</key>
		<string>B64</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 200</string>
		<key>title</key>
		<string>Pot drum</string>
		<key>imageFileNameBase</key>
		<string>B65</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1200</string>
		<key>title</key>
		<string>Human figure</string>
		<key>imageFileNameBase</key>
		<string>B66</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 600</string>
		<key>title</key>
		<string>Hat</string>
		<key>imageFileNameBase</key>
		<string>B67</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Bolivia</string>
		<key>date</key>
		<string>AD 750</string>
		<key>title</key>
		<string>Incense burner</string>
		<key>imageFileNameBase</key>
		<string>B68</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 800</string>
		<key>title</key>
		<string>Staff</string>
		<key>imageFileNameBase</key>
		<string>B69</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Ecuador</string>
		<key>date</key>
		<string>AD 100</string>
		<key>title</key>
		<string>Male figure</string>
		<key>imageFileNameBase</key>
		<string>B71</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 1425</string>
		<key>title</key>
		<string>Vessel representing terraced agricultural fields</string>
		<key>imageFileNameBase</key>
		<string>B72</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Bolivia</string>
		<key>date</key>
		<string>AD 600</string>
		<key>title</key>
		<string>Incense burner in the form of a condor</string>
		<key>imageFileNameBase</key>
		<string>B73</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Ecuador</string>
		<key>date</key>
		<string>600 BC</string>
		<key>title</key>
		<string>Vessel in the form of a tattooed man</string>
		<key>imageFileNameBase</key>
		<string>B74</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Ecuado</string>
		<key>date</key>
		<string>AD 400</string>
		<key>title</key>
		<string>Whistle in the form of an elaborately dressed man</string>
		<key>imageFileNameBase</key>
		<string>B75</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 700</string>
		<key>title</key>
		<string>Poncho</string>
		<key>imageFileNameBase</key>
		<string>B76</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Peru</string>
		<key>date</key>
		<string>AD 900</string>
		<key>title</key>
		<string>Vessel in the form of a man with a llama</string>
		<key>imageFileNameBase</key>
		<string>B77</string>
	</dict>
	<dict>
		<key>location</key>
		<string>Ecuador</string>
		<key>date</key>
		<string>4000 BC</string>
		<key>title</key>
		<string>Female figure</string>
		<key>imageFileNameBase</key>
		<string>B78</string>
	</dict>
</array>
</plist>
